.product__card {
  border: 1px solid #d4d4d4;
  border-radius: 1.6rem;
  padding: 1.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  width: 25rem;
  transition: transform 0.15s ease-out;
}

.product__card:hover {
  transform: scale(1.05);
}

.product__card-image {
  width: 100%;
  padding: 1rem;
  border-radius: 6px;
  background-color: #ededed;
  height: 10rem;
  object-fit: contain;
  margin: 0 auto 1rem auto;
}

.product__card-top {
  display: flex;
  justify-content: space-between;
}

.product__card-title {
  width: 75%;
  font-size: 1.3rem;
  color: var(--primary-color);
  margin-bottom: 0.2rem;
}

.product__card-category {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #737373;
}

.product__card-price {
  font-weight: bold;
  font-size: 1.4rem;
  background-color: var(--primary-color);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.product__card-bottom {
  display: flex;
  gap: 0.4rem;
  margin-top: 0.8rem;
}

.product__card-rate {
  font-weight: 600;
}

.product__card-count {
  color: #737373;
}
