.header {
  background-color: var(--primary-color);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.header__title-link {
  text-decoration: none;
  color: inherit;
}

.header__title {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
}

.header__links {
  display: flex;
  gap: 1rem;
  font-size: 1.6rem;
}

.header__link {
  text-decoration: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  color: var(--foreground);
}

.header__link:hover {
  background-color: var(--secondary-color);
  color: var(--background);
}
