@import url('../../styles/index.css');

.footer {
  margin-top: auto;
  background-color: var(--primary-color);
  padding: 1rem;
}

.footer_text {
  text-align: center;
  font-size: 1.2rem;
}

.footer_author {
  text-decoration: none;
  color: inherit;
}

.footer_author:hover {
  text-decoration: underline;
}
