.products__title {
  text-align: center;
  margin: 2.5rem 0;
  font-size: 2.5rem;
}

.products__container {
  margin: 0 4rem 3rem 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
